version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: tipbox_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tipbox_dev
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: tipbox_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@tipbox.co
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  minio:
    image: minio/minio:latest
    container_name: tipbox_minio
    restart: always
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"  # API için
      - "9001:9001"  # Web arayüzü için
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data

  redis:
    image: redis:latest
    container_name: tipbox_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

volumes:
  pgdata:
  pgadmin_data:
  minio_data:
  redis_data: 