PORT=
NODE_ENV=
DOCKER_CONTAINER=

AUTH0_DOMAIN=
AUTH0_AUDIENCE=
ISSUER_BASE_URL=
CLIENT_ID=
CLIENT_SECRET=
SECRET=

DATABASE_URL=

CORS_ORIGINS=
CORS_METHODS=

REDIS_URL=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
S3_ENDPOINT=
S3_BUCKET_NAME=
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=

BASE_URL=
MEDIA_PUBLIC_BASE_URL=

GOOGLE_APPLICATION_CREDENTIALS=
EMAIL_USER_TO_IMPERSONATE=
EMAIL_FROM_NAME=

JWT_SECRET=

GEMINI_API_KEY=
GEMINI_MODEL=
GEMINI_MAX_RETRIES=
GEMINI_TIMEOUT=

GOOGLE_TRANSLATE_API_KEY=

ADMIN_PRIVATE_KEY=
THIRDWEB_SECRET_KEY=
THIRDWEB_WEBHOOK_SECRET=your_secret_from_thirdweb_dashboard
THIRDWEB_WEBHOOK_EXPIRATION_SECONDS=300

