PORT=
NODE_ENV=
DOCKER_CONTAINER=
SKIP_DB_MIGRATIONS=0

AUTH0_DOMAIN=
AUTH0_AUDIENCE=
ISSUER_BASE_URL=
CLIENT_ID=
CLIENT_SECRET=
SECRET=

DATABASE_URL=

CORS_ORIGINS=
CORS_METHODS=

REDIS_URL=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
S3_ENDPOINT=
S3_BUCKET_NAME=
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_APPLICATION_CREDENTIALS=
EMAIL_USER_TO_IMPERSONATE=
EMAIL_FROM_NAME=

JWT_SECRET=

CANNY_SSO_PRIVATE_KEY=

BASE_URL=
MEDIA_PUBLIC_BASE_URL=

THIRDWEB_CLIENT_ID=
THIRDWEB_SECRET_KEY=
ADMIN_PRIVATE_KEY=
THIRDWEB_WEBHOOK_SECRET=
THIRDWEB_EVENTS_WEBHOOK_SECRET=
THIRDWEB_WALLET_ID=tipbox-embedded-wallet
THIRDWEB_DEFAULT_CHAIN_ID=11155111
THIRDWEB_SPONSOR_GAS=true
THIRDWEB_WEBHOOK_EXPIRATION_SECONDS=300
THIRDWEB_WEBHOOK_SKIP_SIGNATURE_IN_DEV=true
THIRDWEB_ACCOUNT_FACTORY_ADDRESS=
THIRDWEB_ECOSYSTEM_ID=
THIRDWEB_RPC_URL=
THIRDWEB_WATCHED_CONTRACTS=0xa6352D525BeBFd87F3De30DB7D42D08f6Ca015C6
TIPS_TOKEN_DECIMALS=18

ALCHEMY_WEBHOOK_SIGNING_KEY=

GEMINI_API_KEY=
GEMINI_MODEL=
GEMINI_MAX_RETRIES=
GEMINI_TIMEOUT=

GOOGLE_TRANSLATE_API_KEY=

NFT_BADGE_IMAGE_URL=
MINIO_CORS_ALLOW_ORIGIN=

SEED_MEDIA_BASE_URL=
SEED_API_TOKEN=

TUNNEL_URL=
WALLET_BALANCE_SYNC_ENABLED=true
